doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/finance.js")
  body
    include navigation
    block content
    block footer
      ul.footer
        li
          a(href="https://github.com/raserrano/finance") Author: Roberto Serrano Ruiz
