block navigation
  div.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a(href="/currencies" class="navbar-brand") Currencies
      div.navbar-header
        a(href="/cdps" class="navbar-brand") CDP's
      div.navbar-header
        a(href="/interests" class="navbar-brand") Interests
      div.navbar-header
        a(href="/metals" class="navbar-brand") Metals
      div.navbar-header
        a(href="/about" class="navbar-brand") About
      div.navbar-header
        a(href="/contact" class="navbar-brand") Contact